<div class="container">
  <div class="row">
    <div class = "col-2">
      <%= render 'public/items/genre', genre: @genres %>
    </div>

    <div class="col-10 mt-2">
      <h4>検索結果</h4>
      <div class="search-items d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="search-item mr-4">
            <%= image_tag item.image, size: "200x150" %>
            <p><%= link_to item.name, item_path(item.id) %></p>
            <p>¥<%= item.price %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>